.dialog-message {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  .avatar {
    display: block;
    margin-right: 12px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $theme-color;
    margin-bottom: 15px;
    &.block {
      text-align: center;
      line-height: 65px;
      font-weight: 600;
      font-size: 50px;
      color: #ccc;
    }

  }
  .message {
    border-radius: 6px;
    color: #fff;
    background-color: $theme-color;
    padding: 6px 12px;
    max-width: calc(100% - 80px);
    word-break: break-word;
    margin-bottom: 15px
  }
  &.reverse {
    flex-direction: row-reverse;
    .avatar {
      margin-right: 0;
      margin-left: 12px;
      background-color: #f2f3f4;
    }
    .message {
      color: #000;
      background-color: #f2f3f4;
    }
  }
}
